Package                            Version    
---------------------------------- -----------
-luggy                             0.6.0      
-rotobuf                           3.7.1      
absl-py                            0.9.0      
alabaster                          0.7.10     
albumentations                     0.4.3      
alembic                            0.8.10     
altair                             3.2.0      
amqp                               2.5.2      
anaconda-client                    1.6.14     
anaconda-navigator                 1.8.7      
anaconda-project                   0.8.2      
apache-beam                        2.11.0     
apispec                            1.3.3      
appdirs                            1.4.3      
argcomplete                        1.10.0     
argh                               0.26.2     
arrow                              0.14.6     
art                                3.3        
asn1crypto                         0.24.0     
astor                              0.7.1      
astroid                            1.6.3      
astropy                            3.0.2      
astunparse                         1.6.3      
atomicwrites                       1.3.0      
attrs                              19.3.0     
autonormalize                      1.0.1      
avro-python3                       1.8.2      
awscli                             1.16.6     
awsebcli                           3.14.6     
Babel                              2.5.3      
backcall                           0.1.0      
backports.shutil-get-terminal-size 1.0.0      
base58                             1.0.3      
bcolz                              1.2.1      
beautifulsoup4                     4.6.0      
billiard                           3.6.1.0    
binaryornot                        0.4.4      
bing                               0.31       
bitarray                           0.8.1      
bkcharts                           0.2        
blaze                              0.11.3     
bleach                             2.1.2      
blinker                            1.4        
blurhash                           1.1.4      
bokeh                              0.12.16    
boost                              0.1        
boto                               2.48.0     
boto3                              1.9.238    
botocore                           1.12.238   
Bottleneck                         1.2.1      
branca                             0.3.1      
bs4                                0.0.1      
bz2file                            0.98       
cachetools                         3.1.0      
catboost                           0.14.2     
categorical-encoding               0.3.0      
category-encoders                  2.0.0      
celery                             4.4.0      
cement                             2.8.2      
certifi                            2020.4.5.1 
cffi                               1.14.0     
chardet                            3.0.4      
chroma-py                          0.1.0.dev1 
click                              7.1.1      
click-plugins                      1.1.1      
cliff                              2.8.2      
cligj                              0.5.0      
cloudpickle                        0.5.3      
clyent                             1.2.2      
cmake                              3.15.3     
cmd2                               0.9.4      
colorama                           0.3.9      
colorlog                           4.0.2      
colorlover                         0.2.1      
colour                             0.1.5      
comtypes                           1.1.4      
conda                              4.8.3      
conda-build                        3.10.5     
conda-package-handling             1.6.0      
conda-verify                       2.0.0      
configparser                       3.5.0      
confuse                            1.0.0      
contextlib2                        0.5.5      
cookiecutter                       1.6.0      
coverage                           4.5.3      
crcmod                             1.7        
croniter                           0.3.24     
cryptography                       2.5        
cssselect                          1.0.3      
cycler                             0.10.0     
cymem                              2.0.2      
Cython                             0.28.2     
cytoolz                            0.9.0.1    
dash                               1.7.0      
dash-auth                          1.1.4      
dash-core-components               1.6.0      
dash-cytoscape                     0.1.1      
dash-flask-login                   0.0.4      
dash-html-components               1.0.2      
dash-renderer                      1.2.2      
dash-table                         4.5.1      
dash-table-experiments             0.6.0      
dask                               2.5.0      
databricks-cli                     0.11.0     
dataclasses                        0.6        
datashape                          0.5.4      
deap                               1.2.2      
decorator                          4.4.0      
defusedxml                         0.6.0      
Deprecated                         1.2.4      
descartes                          1.1.0      
dill                               0.2.9      
distributed                        2.5.1      
distro                             1.4.0      
dlib                               19.8.1     
dnspython                          1.16.0     
docker                             4.2.1      
docker-pycreds                     0.4.0      
docopt                             0.6.2      
docutils                           0.14       
easygui                            0.98.1     
email-validator                    1.0.5      
en-core-web-sm                     2.0.0      
entrypoints                        0.2.3      
enum-compat                        0.0.2      
enum34                             1.1.6      
et-xmlfile                         1.0.1      
face-recognition                   1.2.3      
face-recognition-models            0.3.0      
fake-useragent                     0.1.11     
Faker                              0.9.1      
fastai                             1.0.36     
fastapi                            0.45.0     
fastavro                           0.21.20    
fastcache                          1.0.2      
fasteners                          0.14.1     
fastprogress                       0.1.18     
feather-format                     0.4.0      
featuretools                       0.10.1     
featuretools-tsfresh-primitives    0.1.0      
featuretools-update-checker        1.0.2      
filelock                           3.0.4      
findspark                          1.3.0      
Fiona                              1.8.4      
flair                              0.4.0      
flashtext                          2.7        
Flask                              1.1.1      
Flask-Admin                        1.4.1      
Flask-Babel                        0.12.2     
Flask-Cache                        0.13.1     
Flask-Caching                      1.3.3      
Flask-Compress                     1.4.0      
Flask-Cors                         3.0.4      
Flask-Login                        0.4.1      
Flask-Mail                         0.9.1      
Flask-Migrate                      2.2.1      
Flask-ReCaptcha                    0.4.2      
Flask-SeaSurf                      0.2.2      
Flask-SQLAlchemy                   2.4.1      
flask-swagger                      0.2.13     
Flask-WhooshAlchemy                0.56       
Flask-WTF                          0.14.2     
flit                               1.3        
folderstats                        0.2.0      
folium                             0.10.1     
fsspec                             0.5.1      
ftfy                               4.4.2      
funcsigs                           1.0.0      
future                             0.16.0     
gast                               0.3.3      
GDAL                               2.3.2      
gensim                             3.4.0      
geographiclib                      1.50       
geojson                            2.5.0      
geopandas                          0.6.2      
geoplotlib                         0.3.2      
geopy                              1.20.0     
gevent                             20.6.0     
gitdb2                             2.0.4      
GitPython                          2.1.11     
glob2                              0.6        
gmaps                              0.9.0      
google-api-core                    1.9.0      
google-apitools                    0.5.26     
google-auth                        1.6.3      
google-auth-oauthlib               0.4.1      
google-cloud-bigquery              1.6.1      
google-cloud-bigtable              0.31.1     
google-cloud-core                  0.28.1     
google-cloud-pubsub                0.39.0     
google-images-download             2.8.0      
google-pasta                       0.2.0      
google-resumable-media             0.3.2      
googleapis-common-protos           1.5.9      
googleimagedownloader              4.0.0      
googlemaps                         4.0.0      
gorilla                            0.3.0      
gql                                0.1.0      
graphql-core                       2.1        
graphviz                           0.13.2     
greenlet                           0.4.16     
grpc-google-iam-v1                 0.11.4     
grpcio                             1.14.2     
gunicorn                           19.9.0     
gym                                0.10.8     
h11                                0.8.1      
h2o                                3.30.0.1   
h5py                               2.10.0     
hdfs                               2.5.0      
heapdict                           1.0.0      
html5lib                           1.0.1      
htmlmin                            0.1.12     
httplib2                           0.11.3     
hyperopt                           0.1.1      
hypothesis                         4.21.0     
icrawler                           0.6.2      
idna                               2.6        
image-search                       0.0.1      
imageio                            2.3.0      
ImageScraper                       1.1.0      
imagesize                          1.0.0      
imbalanced-learn                   0.4.2      
imblearn                           0.0        
imgaug                             0.2.6      
importlib-metadata                 1.3.0      
imutils                            0.5.3      
inflect                            2.1.0      
intake                             0.4.1      
interpret                          0.1.22     
interpret-core                     0.1.22     
ipykernel                          5.3.0      
ipython                            7.15.0     
ipython-genutils                   0.2.0      
ipywidgets                         7.2.1      
iso8601                            0.1.12     
isort                              4.3.4      
isoweek                            1.3.3      
itsdangerous                       0.24       
jdcal                              1.4        
jedi                               0.17.0     
Jinja2                             2.10.3     
jinja2-time                        0.2.0      
jmespath                           0.9.3      
joblib                             0.13.2     
json-merge-patch                   0.2        
json-tricks                        3.13.1     
jsonpickle                         1.2        
jsonschema                         2.6.0      
jupyter                            1.0.0      
jupyter-client                     6.1.3      
jupyter-console                    6.0.0      
jupyter-contrib-core               0.3.3      
jupyter-contrib-nbextensions       0.5.0      
jupyter-core                       4.6.3      
jupyter-highlight-selected-word    0.2.0      
jupyter-latex-envs                 1.4.4      
jupyter-nbextensions-configurator  0.4.0      
jupyterlab                         0.32.1     
jupyterlab-launcher                0.10.5     
kaggle-cli                         0.12.13    
Keras                              2.3.1      
Keras-Applications                 1.0.6      
Keras-Preprocessing                1.1.2      
keyring                            13.2.1     
kiwisolver                         1.0.1      
kombu                              4.6.7      
lazy-object-proxy                  1.3.1      
lightgbm                           2.1.2      
lime                               0.2.0.0    
livereload                         2.6.0      
llvmlite                           0.30.0     
locket                             0.2.0      
lockfile                           0.12.2     
ludwig                             0.1.0      
lxml                               4.2.3      
Mako                               1.0.7      
mapboxgl                           0.10.2     
Markdown                           3.0.1      
MarkupSafe                         1.0        
marshmallow                        2.19.5     
marshmallow-enum                   1.5.1      
marshmallow-sqlalchemy             0.21.0     
Mastodon.py                        1.5.0      
matplotlib                         3.0.0      
mccabe                             0.6.1      
mechanicalsoup                     0.8.0      
menuinst                           1.4.14     
missingno                          0.4.2      
mistune                            0.8.3      
mizani                             0.4.6      
mkdocs                             1.0.4      
mkdocs-material                    3.2.0      
mkl-fft                            1.0.6      
mkl-random                         1.0.1      
mleap                              0.8.1      
mlflow                             1.8.0      
mlxtend                            0.17.2     
mock                               2.0.0      
modAL                              0.3.4      
mongoengine                        0.16.2     
monotonic                          1.5        
more-itertools                     4.1.0      
mpld3                              0.3        
mpmath                             1.0.0      
msgpack                            0.5.6      
msgpack-numpy                      0.4.3.1    
mtcnn                              0.1.0      
multipledispatch                   0.5.0      
munch                              2.5.0      
murmurhash                         0.28.0     
navigator-updater                  0.2.1      
nbconvert                          5.5.0      
nbformat                           4.4.0      
nbsphinx                           0.4.2      
networkx                           2.1        
nlp-primitives                     0.2.3      
nltk                               3.4.5      
nni                                0.7        
nose                               1.3.7      
nose-exclude                       0.5.0      
notebook                           5.5.0      
nteract-on-jupyter                 2.0.12     
num2words                          0.5.10     
numba                              0.46.0     
numexpr                            2.6.8      
numpy                              1.17.2     
numpydoc                           0.8.0      
nvidia-ml-py3                      7.352.0    
oauth2client                       3.0.0      
oauthlib                           2.1.0      
odo                                0.5.1      
olefile                            0.45.1     
opencv-contrib-python              4.1.2.30   
opencv-python                      4.1.2.30   
openpyxl                           2.5.3      
opt-einsum                         3.2.1      
ordereddict                        1.1        
osmnx                              0.11.1     
packaging                          17.1       
paho-mqtt                          1.5.0      
palettable                         3.1.1      
pandas                             0.24.2     
pandas-bokeh                       0.1        
pandas-datareader                  0.7.0      
pandas-profiling                   2.3.0      
pandas-summary                     0.0.41     
pandocfilters                      1.4.2      
parso                              0.7.0      
partd                              0.3.8      
path.py                            11.0.1     
pathlib                            1.0.1      
pathlib2                           2.3.2      
pathspec                           0.5.5      
pathtools                          0.1.2      
patsy                              0.5.0      
pbr                                3.1.1      
PDPbox                             0.2.0      
pendulum                           1.4.4      
pep8                               1.7.1      
pexpect                            4.6.0      
phik                               0.9.8      
pickleshare                        0.7.5      
Pillow                             5.4.1      
pip                                20.0.2     
pipenv                             2018.11.26 
pipx                               0.14.0.0   
pkginfo                            1.4.2      
plac                               0.9.6      
plotly                             4.8.0      
plotnine                           0.3.0      
pluggy                             0.13.1     
ply                                3.11       
poyo                               0.5.0      
preshed                            2.0.1      
prettytable                        0.7.2      
progressbar2                       3.34.3     
prometheus-client                  0.8.0      
prometheus-flask-exporter          0.13.0     
promise                            2.2.1      
prompt-toolkit                     2.0.9      
proto-google-cloud-datastore-v1    0.90.4     
protobuf                           3.12.2     
psutil                             5.6.3      
psycopg2                           2.8.4      
ptyprocess                         0.6.0      
py                                 1.5.3      
py-bing-search                     0.2.6      
py4j                               0.10.7     
pyarrow                            0.11.1     
pyasn1                             0.4.4      
pyasn1-modules                     0.2.4      
pycm                               2.0        
pycodestyle                        2.4.0      
pycosat                            0.6.3      
pycparser                          2.18       
pycrypto                           2.6.1      
pydantic                           1.2        
pydot                              1.2.4      
pyflakes                           1.6.0      
pyglet                             1.3.2      
Pygments                           2.6.1      
PyJWT                              1.7.1      
pylint                             1.8.4      
pymdown-extensions                 6.0        
pymongo                            3.7.2      
pyodbc                             4.0.23     
pyOpenSSL                          18.0.0     
pyparsing                          2.2.0      
pyperclip                          1.6.4      
pypiwin32                          223        
pyproj                             1.9.5.1    
PyQt5                              5.9.2      
pyreadline                         2.1        
pyrsistent                         0.15.6     
PySocks                            1.6.8      
pytest                             5.3.2      
pytest-arraydiff                   0.2        
pytest-astropy                     0.3.0      
pytest-doctestplus                 0.1.3      
pytest-openfiles                   0.3.0      
pytest-pylint                      0.14.1     
pytest-remotedata                  0.2.1      
pytest-runner                      4.4        
python-daemon                      2.1.2      
python-dateutil                    2.7.3      
python-editor                      1.0.3      
python-magic                       0.4.15     
python-snappy                      0.5.3      
python-utils                       2.3.0      
PythonWebHDFS                      0.2.3      
pytoml                             0.1.20     
pytorch-pretrained-bert            0.3.0      
pytz                               2018.4     
pytzdata                           2019.3     
PyWavelets                         0.5.2      
pywin32                            227        
pywin32-ctypes                     0.2.0      
pywinpty                           0.5.1      
PyYAML                             3.12       
pyzmq                              19.0.1     
QtAwesome                          0.4.4      
qtconsole                          4.3.1      
QtPy                               1.4.1      
querystring-parser                 1.2.3      
recaptcha-client                   1.0.6-ssl  
regex                              2018.1.10  
requests                           2.22.0     
requests-futures                   1.0.0      
requests-oauthlib                  1.0.0      
retrying                           1.3.3      
rope                               0.10.7     
rsa                                3.4.2      
Rtree                              0.9.3      
ruamel-yaml                        0.15.35    
ruamel.yaml                        0.15.88    
Rx                                 1.6.1      
s3fs                               0.3.4      
s3transfer                         0.2.1      
sacremoses                         0.0.41     
SALib                              1.3.3      
schedule                           0.6.0      
schema                             0.7.0      
scikit-image                       0.14.2     
scikit-learn                       0.23.1     
scikit-MDR                         0.4.4      
scipy                              1.4.1      
seaborn                            0.9.0      
segtok                             1.5.7      
selenium                           3.141.0    
semantic-version                   2.5.0      
Send2Trash                         1.5.0      
sentencepiece                      0.1.86     
sentry-sdk                         0.4.0      
setproctitle                       1.1.10     
setuptools                         41.2.0     
shap                               0.28.5     
Shapely                            1.6.4.post2
shellingham                        1.3.2      
shortuuid                          0.5.0      
simplegeneric                      0.8.1      
simplejson                         3.16.0     
singledispatch                     3.4.0.3    
sip                                4.19.8     
six                                1.15.0     
sklearn                            0.0        
sklearn-pandas                     1.6.0      
skope-rules                        1.0.0      
skorch                             0.3.0      
skrebate                           0.6        
smart-open                         1.8.4      
smmap2                             2.0.4      
snowballstemmer                    1.2.1      
sortedcollections                  0.6.1      
sortedcontainers                   1.5.10     
spacy                              2.0.16     
Sphinx                             1.7.4      
sphinxcontrib-websupport           1.0.1      
spyder                             3.2.8      
spyder-kernels                     0.2.6      
SQLAlchemy                         1.3.12     
SQLAlchemy-JSONField               0.9.0      
SQLAlchemy-Utils                   0.36.1     
sqlitedict                         1.6.0      
sqlparse                           0.3.0      
squarify                           0.4.2      
starlette                          0.12.9     
statsmodels                        0.9.0      
stevedore                          1.29.0     
stopit                             1.1.2      
streamlit                          0.52.2     
sympy                              1.1.1      
tables                             3.4.3      
tabulate                           0.8.2      
TBB                                0.1        
tblib                              1.3.2      
tenacity                           4.12.0     
tensorboard                        2.2.2      
tensorboard-plugin-wit             1.6.0.post3
tensorboardX                       1.4        
tensorflow                         2.2.0      
tensorflow-estimator               2.2.0      
tensorflow-hub                     0.1.1      
tensorflow-metadata                0.13.0     
tensorflow-model-analysis          0.13.2     
tensorflow-transform               0.13.0     
termcolor                          1.1.0      
terminado                          0.8.1      
testpath                           0.3.1      
text-unidecode                     1.2        
textblob                           0.15.1     
thinc                              6.12.0     
threadpoolctl                      2.0.0      
thrift                             0.13.0     
tokenizers                         0.5.2      
toml                               0.10.0     
toolz                              0.9.0      
torch                              1.3.1+cpu  
torchtext                          0.2.3      
torchvision                        0.4.2+cpu  
tornado                            4.5.3      
tornado-sqlalchemy                 0.7.0      
TPOT                               0.9.5      
tqdm                               4.45.0     
traitlets                          4.3.3      
transformers                       2.8.0      
treeinterpreter                    0.2.2      
tsfresh                            0.12.0     
tweepy                             3.7.0      
typer                              0.1.1      
typing                             3.6.4      
tzlocal                            1.5.1      
ua-parser                          0.8.0      
ujson                              1.35       
unicodecsv                         0.14.1     
update-checker                     0.16       
urllib3                            1.22       
userpath                           1.2.0      
uvicorn                            0.10.8     
validators                         0.14.0     
vdom                               0.6        
vincent                            0.4.4      
vine                               1.3.0      
virtualenv                         16.0.0     
virtualenv-clone                   0.5.3      
visdcc                             0.0.34     
waitress                           1.4.4      
wandb                              0.6.27     
watchdog                           0.9.0      
wcwidth                            0.1.7      
webencodings                       0.5.1      
websocket-client                   0.56.0     
websockets                         8.1        
Werkzeug                           0.15.4     
wheel                              0.31.1     
whichcraft                         0.6.0      
Whoosh                             2.7.4      
widgetsnbextension                 3.2.1      
wikipedia                          1.4.0      
win-inet-pton                      1.0.1      
win-unicode-console                0.5        
wincertstore                       0.2        
wrapt                              1.12.1     
WTForms                            2.2.1      
xgboost                            0.80       
xlrd                               1.1.0      
XlsxWriter                         1.0.4      
xlwings                            0.11.8     
xlwt                               1.3.0      
yellowbrick                        0.8        
zict                               0.1.3      
zipp                               0.6.0      
zope.deprecation                   4.4.0      
zope.event                         4.4        
zope.interface                     5.1.0      
